:root {
    --primary-color: #007bff;
    --primary-hover-color: #0069d9;
    --secondary-color: #c63df1;
    --secondary-hover-color: #9c2dbd;
    --danger-color: #dc3545;
    --danger-hover-color: #a71d2a;
    --success-color: #28a745;
    --success-hover-color: #236e35;
    --alert-color: #ffc107;
    --alert-hover-color: #d39e00;
    --teal-color: #61DAFB;
    --teal-hover-color: #4db6e2;
    --info-color: #17a2b8;
    --info-hover-color: #0e6270;
    --warning-color: #fd7e14;
    --warning-hover-color: #9f4a01;
    --pink-color: #f875ae;
    --pink-color-hover: #da4987;
    --dark-blue-color: #60a1fc;
    --dark-blue-color-hover: #5d93da;
    --dark-purple-color: #a464f2;
    --dar-purple-hover-color: #8e4bd9;
    --text-small-size: 0.8em;
    --btn-font-size: 1em;
    --btn-padding: 0.7em;
    --btn-border-radius: 1em;
    --btn-hover-transition: background-color 0.3s ease;
    --app-bg-color: #282c34;
    --app-text-color: white;
    --logo-height-small: 20vmin;
    --logo-height-large: 30vmin;
}

.btn {
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    font-size: var(--btn-font-size);
    color: #fff;
    transition: var(--btn-hover-transition);
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover-color);
}

.btn-danger {
    background-color: var(--danger-color);
}

.btn-danger:hover {
    background-color: var(--danger-hover-color);
}

.btn-success {
    background-color: var(--success-color);
}

.btn-success:hover {
    background-color: var(--success-hover-color);
}

.btn-alert {
    background-color: var(--alert-color);
}

.btn-alert:hover {
    background-color: var(--alert-hover-color);
}

.btn-info {
    background-color: var(--info-color);
}

.btn-info:hover {
    background-color: var(--info-hover-color);
}

.btn-warning {
    background-color: var(--warning-color);
}

.btn-warning:hover {
    background-color: var(--warning-hover-color);
}

.btn-pink {
    background-color: var(--pink-color);
}

.btn-pink:hover {
    background-color: var(--pink-color-hover);
}

.btn-light-blue {
    background-color: var(--dark-blue-color);
}

.btn-light-blue:hover {
    background-color: var(--dark-blue-color-hover);
}

.btn-dark-purple {
    background-color: var(--dark-purple-color);
}

.btn-dark-purple:hover {
    background-color: var(--dar-purple-hover-color);
}

.color-teal {
    color: var(--teal-color);
}

.App {
    text-align: center;
}

.App-header {
    background-color: var(--app-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--app-text-color);
}

.App-main {
    background-color: var(--app-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--app-text-color);
}

.App-logo {
    height: var(--logo-height-small);
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.text-small {
    font-size: var(--text-small-size);
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.d-flex {
    display: flex;
}

.flex-evenly {
    justify-content: space-evenly;
}

.w-100 {
    width: 100%;
}

.mt-1 {
    margin-top: 0.8em;
}

.mt-2 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 1.5em;
}

.mt-4 {
    margin-top: 1.8em;
}


.my-2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.flex-item {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0.5%;
    justify-items: stretch;
}

@media (min-width: 768px) {
    .App-logo {
        height: var(--logo-height-large);
    }

    .text-small {
        font-size: calc(var(--text-small-size) * 0.9);
    }

    .btn {
        font-size: calc(var(--btn-font-size) * 0.9);
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .flex-item {
        flex-basis: 100%;
        max-width: 45%;
    }
}

@media (min-width: 1600px) {
    .flex-item {
        flex-basis: 100%;
        max-width: 25%;
    }
}

.footer {
    background-color: var(--app-bg-color);
    color: var(--app-text-color);
    padding: 20px 0;
    text-align: center;
    font-size: var(--text-small-size);
}

.footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .social-links {
    margin-top: 10px;
}

.footer .social-links a {
    color: var(--teal-color);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer .social-links a:hover {
    color: var(--primary-hover-color);
}

.decoration-none {
    text-decoration: none;
    list-style-type: none;
}